<form action="/API/AddIcon" method="post" id="iconForm" style="color:white;">
    <br><label for="serviceName">Service Name:</label>
    <input type="text" id="serviceName" name="serviceName" required>

    <br><label for="iconURL">Service Icon URL:</label>
    <input type="text" id="iconURL" name="iconURL" required>

    <br><label for="accessURI">Service Access URI:</label>
    <input type="text" id="accessURI" name="accessURI" required>

    <br><input type="submit" value="Add Icon">
</form>
